<div class="container">
  <div class="page-login">
    <div class="row">
      <div class="offset-sm-1"></div>
      <div class="col-sm-10 col-md-5">
        <div class="main-img-wrap">
            <img src="../../../assets/img/phones.png" alt="">
        </div>
      </div>
      <div class="col-sm-10 col-md-5">
        <div class="card r-card">
          <div class="card-block r-card-block">

            <div class="text-center">
                <h3>KORYSTUVACH</h3>
            </div>
            <form (ngSubmit)="onSubmit()">
              <div class="md-form">
                  <input mdbActive type="text" id="email" minlength="3" class="form-control r-form-control" [(ngModel)]="model.email" name="email" required #email="ngModel">
                  <label for="login">Логін</label>
                  <div *ngIf="email.errors && (email.dirty || email.touched)">
                    <div [hidden]="!email.errors.required" class="alert alert-danger">
                        Login is required!
                    </div>  

                    <div [hidden]="!email.errors.minlength" class="alert alert-danger">
                        Must be 3 symbol!
                    </div>  

                  </div>
              </div>

              <div class="md-form">
                  <input mdbActive type="password" minlength="6" id="password" class="form-control r-form-control" [(ngModel)]="model.password" name="password" required #password="ngModel">
                  <label for="password">Пароль</label>

                    <div *ngIf="password.errors && (password.dirty || password.touched)">
                      <div [hidden]="!password.errors.required" class="alert alert-danger">
                          Password is required!
                      </div>  
                    </div>
  
              </div>
              
              <div class="text-center">
                  <h5 class="forgot-pass" (click)="recoveryPassModal.show()">Забули пароль?</h5>
              </div>

              <button type="submit" class="btn r-btn-outline-gold" ripple-radius>Увійти</button>            
            </form>
            {{ currentForm }}
            <div bsModal #recoveryPassModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header r-modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="recoveryPassModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title r-modal-title w-100" id="myModalLabel">Відновлення паролю</h4>
                        </div>
                        <div class="modal-body r-modal-body text-center">
                            <div class="r-modal-text">Введіть електронний адрес для відновлення паролю</div>
                          <div class="md-form">
                            <input mdbActive type="text" id="restore-mail" class="form-control r-form-control">
                            <label for="restore-mail">e-mail</label>
                          </div>
                          <button type="button" class="btn r-btn-outline-gold" aria-label="Відновити" (click)="recoveryPassModal.hide()" ripple-radius>Відновити</button>
                        </div>
                    </div>
                </div>
            </div>
            <div bsModal #errorPassModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header r-modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="errorPassModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title r-modal-title w-100" id="myModalLabel">Повідомлення</h4>
                        </div>
                        <div class="modal-body r-modal-body text-center">
                          <div class="r-modal-text">Пароль введено невірно.Спробуйте ще раз або скористайтеся формою відновлення паролю</div>
                            <button type="button" class="btn r-btn-outline-gold" aria-label="Close" (click)="errorPassModal.hide()" ripple-radius>OK</button>
                          </div>
                    </div>
                </div>
            </div>
       
            <div class="text-center">
              <h5>Увійти через</h5>
              <ul class="soc-enter">
                <li class="soc-enter_item">
                  <a href="#" class="soc-enter_nav">
                    <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="soc-enter_item">
                  <a href="#" class="soc-enter_nav">
                    <i class="fa fa-vk fa-3x" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="soc-enter_item">
                  <a href="#" class="soc-enter_nav">
                    <i class="fa fa-odnoklassniki-square fa-3x" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
              <h5>Немає облікового запису?</h5>

              <a routerLink="/registration" class="btn r-btn-outline-gold" ripple-radius>Реєстрація</a>

            </div>

          </div>

        </div>

        <div class="text-center download-block">
          <h5>Встановити додаток</h5>
          <ul class="download-list">
            <li class="download-list_item">
              <a href="#" class="download-list_nav">
                <i class="fa fa-android fa-4x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="download-list_item">
              <a href="#" class="download-list_nav">
                <i class="fa fa-apple fa-4x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="download-list_item">
              <a href="#" class="download-list_nav">
                <i class="fa fa-windows fa-4x" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="offset-sm-1"></div>

    </div>

  </div>

</div>

  <!-- <li *ngFor="let user of users">
    <span>{{user.id}}</span> {{user.name}}
  </li> -->

<!--/Form without header-->

