<p>
  login works!
</p>
<!--Form without header-->
<div class="card">
  <div class="card-block">

    <!--Header-->
    <div class="text-center">
        <h3>Korystuvach</h3>
    </div>
    <!--Body-->
    <div class="md-form">
        <input mdbActive type="text" id="form3" class="form-control">
        <label for="form3">Your name</label>
    </div>

    <div class="md-form">
        <input mdbActive type="password" id="form2" class="form-control">
        <label for="form2">Your email</label>
    </div>

    <div class="text-center">
        <button class="btn btn-deep-orange" ripple-radius>Send</button>
    </div>

  </div>
</div>
<!--/Form without header-->

