<header class="header">    
    <a class="r-logo-nav" title="KORYSTUVACH.com" routerLink="/"><img class="r-logo-img" src="../assets/img/logo.png" alt="Korystuvach"></a>
    <ul class="r-nav">
        <li class="r-nav-item">
            <a routerLink="/home" routerLinkActive="active" class="r-nav-link" title="Головна">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="r-nav-item">
            <a routerLink="/search-user" routerLinkActive="active" class="r-nav-link" title="Пошук">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="r-nav-item r-nav-item_search">
            <form class="r-search-form">
                <input class="r-search-input" type="text" placeholder="Пошук">
            </form>
        </li>
        <li class="r-nav-item">
            <a routerLink="/music" routerLinkActive="active" class="r-nav-link" title="Музика">
                <i class="fa fa-music fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="r-nav-item">
            <a routerLink="/add-meeting" routerLinkActive="active" class="r-nav-link" title="Додати зустріч">
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="r-nav-item">
            <a routerLink="/dialog-list" routerLinkActive="active" class="r-nav-link" title="Повідомлення">
                <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="r-nav-item">
            <a routerLink="/subscription" routerLinkActive="active" class="r-nav-link" title="Події">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="r-nav-item">
            <a routerLink="/login" routerLinkActive="active" class="r-nav-link" title="Моя сторінка">
                <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="r-nav-item" dropdown>
            <a dropdownToggle class="dropdown-toggle r-nav-link" title="Налаштування/Вихід">
                <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Редагувати</a>
                <a class="dropdown-item" href="#">Вийти</a>
            </div>
        </li>
    </ul>

</header>

<div class="r-content">

    <router-outlet></router-outlet>

</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <ul class="r-footer-list">
                    <li class="r-footer-list_item">
                        <a href="#" class="r-footer-list_nav">Про нас</a>
                    </li>
                    <li class="r-footer-list_item">
                        <a href="#" class="r-footer-list_nav">Підтримка</a>
                    </li>
                    <li class="r-footer-list_item">
                        <a href="#" class="r-footer-list_nav">Конфіденційність</a>
                    </li>
                    <li class="r-footer-list_item">
                        <a href="#" class="r-footer-list_nav">Умови використання</a>
                    </li>
                    <li class="r-footer-list_item">
                        <a href="#" class="r-footer-list_nav">Мова</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <div class="rights">2017 KORYSTUVACH</div>
            </div>
        </div>
    </div>
</footer>


