<navbar SideClass="navbar navbar-toggleable-md navbar-light bg-primary amber accent-3">
    <logo><a routerLink="/" class="logo navbar-brand">Korystuvach.com</a></logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" class="nav-link"><i class="fa fa-home fa-2x" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
            </li>
            <form class="form-inline">
              <input class="form-control" type="text" placeholder="Search">
            </form>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
            </li>

            <li class="nav-item dropdown btn-group float-right text-right" dropdown>
                <a dropdownToggle ripple-radius type="button" class="nav-link dropdown-toggle">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
                <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                </div>
            </li>
        </ul>
    </links>
</navbar>

  <div class="container">
    <div class="row">

        <router-outlet></router-outlet>

    </div>
</div>