/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "WhipsmartRegular";
  src: url("./assets/fonts/WhipsmartRegular/WhipsmartRegular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/WhipsmartRegular/WhipsmartRegular.woff") format("woff"), url("./assets/fonts/WhipsmartRegular/WhipsmartRegular.ttf") format("truetype"); 
}

@font-face {
  font-family: "WhipsmartBold";
  src: url("./assets/fonts/WhipsmartBold/WhipsmartBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/WhipsmartBold/WhipsmartBold.woff") format("woff"), url("./assets/fonts/WhipsmartBold/WhipsmartBold.ttf") format("truetype");
}

@font-face {
  font-family: "ArsenalBold";
  src: url("./assets/fonts/ArsenalBold/ArsenalBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ArsenalBold/ArsenalBold.woff") format("woff"), url("./assets/fonts/ArsenalBold/ArsenalBold.ttf") format("truetype"); 
}

@font-face {
  font-family: "ArsenalBoldItalic";
  src: url("./assets/fonts/ArsenalBoldItalic/ArsenalBoldItalic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ArsenalBoldItalic/ArsenalBoldItalic.woff") format("woff"), url("./assets/fonts/ArsenalBoldItalic/ArsenalBoldItalic.ttf") format("truetype"); 
}

@font-face {
  font-family: "ArsenalItalic";
  src: url("./assets/fonts/ArsenalItalic/ArsenalItalic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ArsenalItalic/ArsenalItalic.woff") format("woff"), url("./assets/fonts/ArsenalItalic/ArsenalItalic.ttf") format("truetype"); 
}

@font-face {
  font-family: "ArsenalRegular";
  src: url("./assets/fonts/ArsenalRegular/ArsenalRegular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ArsenalRegular/ArsenalRegular.woff") format("woff"), url("./assets/fonts/ArsenalRegular/ArsenalRegular.ttf") format("truetype"); 
}

body{
  color: #3f3f3f;
  font-family: "WhipsmartRegular";
}
textarea:focus,
input:focus,
select:focus{
outline: none;
}